* {
  box-sizing: border-box;
}
body {
  margin: 50;
  padding: 0;
  font-size: 0;
}
.hidden {
  display: none;
}
.wrapper1 {
  width: 100%;
  margin: 0 auto;
}
.slots {
  width: 660px;
  height: 270px;
  position: relative;
  margin: 0 auto;
}
.letter1-box,
.letter2-box,
.letter3-box {
  width: 175px;
  height: 225px;
  border: dashed;
  position: relative;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.wrapper2 {
  width: 660px;
  height: 270px;
  position: relative;
  margin: 0 auto;
}
.play1,
.play2,
.play3 {
  width: 175px;
  height: 100px;
  background: red;
  position: relative;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.play1:hover {
  cursor: pointer;
}
.play2:hover {
  cursor: pointer;
}
.play3:hover {
  cursor: pointer;
}
.border-wrapper {
  width: 700px;
  height: 450px;
  position: relative;
  margin: 0 auto;
}
.letter-container {
  width: 150px;
  height: 200px;
  background: #ff1;
  position: relative;
  display: inline-block;
  margin: 10px;
}
.vertical-right-right {
  width: 2px;
  height: 200px;
  background: #000;
  right: 0;
  position: absolute;
}
.vertical-right-mid {
  width: 2px;
  height: 200px;
  background: #000;
  right: 10;
  position: absolute;
}
.vertical-right-left {
  width: 2px;
  height: 200px;
  background: #000;
  right: 20;
  position: absolute;
}
.vertical-left-left {
  width: 2px;
  height: 200px;
  background: #000;
  left: 0;
  position: absolute;
}
.vertical-left-mid {
  width: 2px;
  height: 200px;
  background: #000;
  left: 10;
  position: absolute;
}
.vertical-left-right {
  width: 2px;
  height: 200px;
  background: #000;
  left: 20;
  position: absolute;
}
.vertical-mid-mid {
  width: 2px;
  height: 200px;
  background: #000;
  left: 50%;
  position: absolute;
}
.vertical-mid-left {
  width: 2px;
  height: 200px;
  background: #000;
  left: 65px;
  position: absolute;
}
.vertical-mid-right {
  width: 2px;
  height: 200px;
  background: #000;
  left: 85px;
  position: absolute;
}
.horizontal-mid-mid {
  width: 150px;
  height: 2px;
  background: #000;
  top: 50%;
  margin-top: -1px;
  position: absolute;
}
.horizontal-mid-bottom {
  width: 150px;
  height: 2px;
  background: #000;
  top: 55%;
  margin-top: -1px;
  position: absolute;
}
.horizontal-mid-top {
  width: 150px;
  height: 2px;
  background: #000;
  top: 45%;
  margin-top: -1px;
  position: absolute;
}
.horizontal-top-mid {
  width: 150px;
  height: 2px;
  background: #000;
  top: 10;
  margin-top: -1px;
  position: absolute;
}
.horizontal-top-bottom {
  width: 150px;
  height: 2px;
  background: #000;
  top: 20px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-top-top {
  width: 150px;
  height: 2px;
  background: #000;
  top: 0px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-top {
  width: 150px;
  height: 2px;
  background: #000;
  top: 180px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-mid {
  width: 150px;
  height: 2px;
  background: #000;
  top: 190px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-bottom {
  width: 150px;
  height: 2px;
  background: #000;
  bottom: 0px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-half-bottom {
  width: 85px;
  height: 2px;
  background: #000;
  left: 0;
  bottom: 0px;
  position: absolute;
}
.horizontal-bottom-half-mid {
  width: 85px;
  height: 2px;
  background: #000;
  left: 0;
  bottom: 10px;
  position: absolute;
}
.horizontal-bottom-half-top {
  width: 85px;
  height: 2px;
  background: #000;
  left: 0;
  bottom: 20px;
  position: absolute;
}
.rectangle-left {
  width: 80px;
  height: 200px;
  background: #ef4b4b;
  left: 0;
  position: absolute;
  opacity: 0;
}
.rectangle-left:hover {
  opacity: 100;
  cursor: pointer;
}
.rectangle-mid {
  width: 150px;
  height: 80px;
  background: #D9E02A;
  top: 75px;
  position: absolute;
  display: inline-block;
  opacity: 0;
}
.rectangle-mid:hover {
  opacity: 100;
  cursor: pointer;
}
.rectangle-half-right {
  width: 75px;
  height: 80px;
  background: #D9E02A;
  top: 75px;
  right: 0;
  position: absolute;
  display: inline-block;
  opacity: 0;
}
.rectangle-half-right:hover {
  opacity: 100;
  cursor: pointer;
}
.rectangle-vertical-center {
  width: 80px;
  height: 200px;
  background: #D9E02A;
  top: 0;
  right: 35;
  position: absolute;
  display: inline-block;
  opacity: 0;
}
.rectangle-vertical-center:hover {
  opacity: 100;
  cursor: pointer;
}
.vertical-right-half-right {
  width: 2px;
  height: 100px;
  background: #000;
  right: 0;
  bottom: 0;
  position: absolute;
}
.vertical-right-half-mid {
  width: 2px;
  height: 100px;
  background: #000;
  left: 140;
  bottom: 0;
  position: absolute;
}
.vertical-right-half-left {
  width: 2px;
  height: 100px;
  background: #000;
  left: 130;
  bottom: 0;
  position: absolute;
}
.vertical-right-p-right {
  width: 2px;
  height: 110px;
  background: #000;
  top: 0;
  right: 0;
  position: absolute;
}
.vertical-right-p-mid {
  width: 2px;
  height: 110px;
  background: #000;
  top: 0;
  right: 10px;
  position: absolute;
}
.vertical-right-p-left {
  width: 2px;
  height: 110px;
  background: #000;
  top: 0;
  right: 20px;
  position: absolute;
}
.k-upper-left {
  width: 200px;
  height: 2px;
  top: 75px;
  right: -28px;
  background: #000;
  position: absolute;
  transform: rotate(-40deg);
}