* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-size: 100px;
  font-family: impact;
  letter-spacing: 5px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: red;
  background: url('../img/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hidden {
  display: none;
}

.wrapper2 {
  font-size: 20px;
  font-family: impact;
  display: inline-block;
  color: white;
}



.wrapper1 {
  width: 100%;
  margin: 0 auto;
}
.slots {
  width: 660px;
  height: 270px;
  position: relative;
  margin: 0 auto;
}
.letter1-box,
.letter2-box,
.letter3-box {
  width: 175px;
  height: 225px;
  border: dashed;
  border-color: red;
  position: relative;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.wrapper2 {
  width: 660px;
  height: 270px;
  position: relative;
  margin: 0 auto;
}
.play1,
.play2,
.play3 {
  width: 175px;
  height: 100px;
  background: red;
  border-style: groove;
  border-color: red;
  border-width: 20px;
  position: relative;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}
.play1:hover {
  cursor: pointer;
}
.play2:hover {
  cursor: pointer;
}
.play3:hover {
  cursor: pointer;
}
.border-wrapper {
  width: 700px;
  height: 450px;
  position: relative;
  margin: 0 auto;
}
.letter-container {
  width: 150px;
  height: 200px;
  background: #ff1;
  position: relative;
  display: inline-block;
  margin: 10px;
}
.vertical-right-right {
  width: 2px;
  height: 200px;
  background: #000;
  right: 0px;
  position: absolute;
}
.vertical-right-mid {
  width: 2px;
  height: 200px;
  background: #000;
  right: 10px;
  position: absolute;
}
.vertical-right-left {
  width: 2px;
  height: 200px;
  background: #000;
  right: 20px;
  position: absolute;
}
.vertical-left-left {
  width: 2px;
  height: 200px;
  background: #000;
  left: 0px;
  position: absolute;
}
.vertical-left-mid {
  width: 2px;
  height: 200px;
  background: #000;
  left: 10px;
  position: absolute;
}
.vertical-left-right {
  width: 2px;
  height: 200px;
  background: #000;
  left: 20px;
  position: absolute;
}
.vertical-mid-mid {
  width: 2px;
  height: 200px;
  background: #000;
  left: 50%;
  position: absolute;
}
.vertical-mid-left {
  width: 2px;
  height: 200px;
  background: #000;
  left: 65px;
  position: absolute;
}
.vertical-mid-right {
  width: 2px;
  height: 200px;
  background: #000;
  left: 85px;
  position: absolute;
}
.horizontal-mid-mid {
  width: 150px;
  height: 2px;
  background: #000;
  top: 50%;
  margin-top: -1px;
  position: absolute;
}
.horizontal-mid-bottom {
  width: 150px;
  height: 2px;
  background: #000;
  top: 55%;
  margin-top: -1px;
  position: absolute;
}
.horizontal-mid-top {
  width: 150px;
  height: 2px;
  background: #000;
  top: 45%;
  margin-top: -1px;
  position: absolute;
}
.horizontal-top-mid {
  width: 150px;
  height: 2px;
  background: #000;
  top: 10px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-top-bottom {
  width: 150px;
  height: 2px;
  background: #000;
  top: 20px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-top-top {
  width: 150px;
  height: 2px;
  background: #000;
  top: 0px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-top {
  width: 150px;
  height: 2px;
  background: #000;
  top: 180px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-mid {
  width: 150px;
  height: 2px;
  background: #000;
  top: 190px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-bottom {
  width: 150px;
  height: 2px;
  background: #000;
  bottom: 0px;
  margin-top: -1px;
  position: absolute;
}
.horizontal-bottom-half-bottom {
  width: 85px;
  height: 2px;
  background: #000;
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.horizontal-bottom-half-mid {
  width: 85px;
  height: 2px;
  background: #000;
  left: 0px;
  bottom: 10px;
  position: absolute;
}
.horizontal-bottom-half-top {
  width: 85px;
  height: 2px;
  background: #000;
  left: 0px;
  bottom: 20px;
  position: absolute;
}
.rectangle-left {
  width: 80px;
  height: 200px;
  background: #ef4b4b;
  left: 0px;
  position: absolute;
  opacity: 0;
}
.rectangle-left:hover {
  opacity: 100;
  cursor: pointer;
}
.rectangle-mid {
  width: 150px;
  height: 80px;
  background: #D9E02A;
  top: 75px;
  position: absolute;
  display: inline-block;
  opacity: 0;
}
.rectangle-mid:hover {
  opacity: 100;
  cursor: pointer;
}
.rectangle-half-right {
  width: 75px;
  height: 80px;
  background: #D9E02A;
  top: 75px;
  right: 0px;
  position: absolute;
  display: inline-block;
  opacity: 0;
}
.rectangle-half-right:hover {
  opacity: 100;
  cursor: pointer;
}
.rectangle-vertical-center {
  width: 80px;
  height: 200px;
  background: #D9E02A;
  top: 0px;
  right: 35px;
  position: absolute;
  display: inline-block;
  opacity: 0;
}
.rectangle-vertical-center:hover {
  opacity: 100;
  cursor: pointer;
}
.vertical-right-half-right {
  width: 2px;
  height: 100px;
  background: #000;
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.vertical-right-half-mid {
  width: 2px;
  height: 100px;
  background: #000;
  left: 140px;
  bottom: 0px;
  position: absolute;
}
.vertical-right-half-left {
  width: 2px;
  height: 100px;
  background: #000;
  left: 130px;
  bottom: 0px;
  position: absolute;
}
.vertical-right-p-right {
  width: 2px;
  height: 110px;
  background: #000;
  top: 0px;
  right: 0px;
  position: absolute;
}
.vertical-right-p-mid {
  width: 2px;
  height: 110px;
  background: #000;
  top: 0px;
  right: 10px;
  position: absolute;
}
.vertical-right-p-left {
  width: 2px;
  height: 110px;
  background: #000;
  top: 0px;
  right: 20px;
  position: absolute;
}
.k-1 {
  width: 170px;
  height: 30px;
  top: 0px;
  right: 19px;
  background: #000;
  position: absolute;
  transform: rotate(-40deg);
  transform-origin: top right;
}

.k-2 {
  width: 158px;
  height: 30px;
  top: 175px;
  right: 0px;
  background: #000;
  position: absolute;
  transform: rotate(35deg);
  transform-origin: top right;
}


.x-1 {
  width: 221px;
  height: 30px;
  top: 0px;
  right: -95px;
  background: #000;
  position: absolute;
  transform: rotate(55deg);
  transform-origin: top left;
}

.x-2 {
  width: 221px;
  height: 30px;
  top: 182px;
  background: #000;
  position: absolute;
  transform: rotate(305deg);
  transform-origin: top left;
}

.v-1 {
  width: 201px;
  height: 30px;
  top: 0px;
  right: -80px;
  background: #000;
  position: absolute;
  transform: rotate(72deg);
  transform-origin: top left;
}

.v-2 {
  width: 201px;
  height: 30px;
  top: 0px;
  right: 28px;
  background: #000;
  position: absolute;
  transform: rotate(-72deg);
  transform-origin: top right;
}

.q-1 {
    width: 110px;
  height: 30px;
  bottom: 77px;
  right: -47px;
  background: #000;
  position: absolute;
  transform: rotate(55deg);
  transform-origin: top left;
}


.d-vertical-right-right {
  width: 2px;
  height: 200px;
  background: #000;
  right: 30px;
  position: absolute;
}
.d-vertical-right-mid {
  width: 2px;
  height: 200px;
  background: #000;
  right: 40px;
  position: absolute;
}
.d-vertical-right-left {
  width: 2px;
  height: 200px;
  background: #000;
  right: 50px;
  position: absolute;
}

.d-horizontal-top-mid {
  width: 120px;
  height: 2px;
  background: #000;
  top: 10px;
  margin-top: -1px;
  position: absolute;
}
.d-horizontal-top-bottom {
  width: 120px;
  height: 2px;
  background: #000;
  top: 20px;
  margin-top: -1px;
  position: absolute;
}
.d-horizontal-top-top {
  width: 120px;
  height: 2px;
  background: #000;
  top: 0px;
  margin-top: -1px;
  position: absolute;
}
.d-horizontal-bottom-top {
  width: 120px;
  height: 2px;
  background: #000;
  top: 180px;
  margin-top: -1px;
  position: absolute;
}
.d-horizontal-bottom-mid {
  width: 120px;
  height: 2px;
  background: #000;
  top: 190px;
  margin-top: -1px;
  position: absolute;
}
.d-horizontal-bottom-bottom {
  width: 120px;
  height: 2px;
  background: #000;
  bottom: 0px;
  margin-top: -1px;
  position: absolute;
}

.r-1 {
  width: 160px;
  height: 30px;
  top: 176px;
  right: 0px;
  background: #000;
  position: absolute;
  transform: rotate(35deg);
  transform-origin: top right;
}

.w-1 {
  width: 201px;
  height: 30px;
  top: 170px;
  right: 30px;
  background: #000;
  position: absolute;
  transform: rotate(72deg);
  transform-origin: bottom right;
}

.w-2 {
  width: 201px;
  height: 30px;
  top: 85px;
  right: 5px;
  background: #000;
  position: absolute;
  transform: rotate(-73deg);

}


.y-1 {
  width: 110px;
  height: 30px;
  bottom: 170px;
  right: 15px;
  background: #000;
  position: absolute;
  transform: rotate(55deg);
  transform-origin: top left;
}




.jackpot {
  width: 100%;
  height: 100%;
  background: #000;
  font-size: 200px;
  color: red;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
}

.jackpot span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  font-size: 75px;
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 30px;
  text-decoration: none;
  color: #fff;
}

.playagain {
  font-size: 50px;
  color: white;
  bottom: 20px;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-decoration: underline white;
}

.playagain span {
    text-decoration: underline white;
    top: 400px;
  position: absolute;

  transform: translate(-50%, -50%);

}



.hide {
  display: none;
}









