* {
        margin: 0;
        padding: 0;
        list-style: none;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
        font-family: helvetica;
      }







.winreload {
  position: fixed;
  top: 0;
  right: 0;
  background-color: yellow;
  width: 100px;
  height: 100px;
}



      .columns {
        width: 33%;
        text-align: center;
        float: left;
      }
      .columns .final-word,
      .columns .word {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 30px;
        cursor: pointer;
      }
      .columns .word:hover {
        background-color: #ffb95c;
        border-color: #ffb95c;
      }
      .columns .word.changed {
        font-weight: bold;
      }
      .columns.disabled .word {
        color: #999;
        border-color: #ccc;
        pointer-events: none;
      }
      .center {
        text-align: center;
      }
      .final-word {
        font-weight: bold;
      }
      .final-button {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 10px;
        background-color: #ccc;
        font-weight: bold;
        cursor: pointer;
      }
      .final-button:hover {
        background-color: #fff;
      }
      .next-screen p {
        padding: 10px;
        text-align: center;
        position: fixed;
      }
      @media screen and (max-width: 700px) {
        .columns {
          width: 100%;
          float: none;
        }
      }













